/*
* Custom Styles
*/
@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/icon-button/mdc-icon-button";
@import "_variables";
@import "@material/card/mdc-card";
@import "@material/chips/mdc-chips";
@import "@material/dialog/mdc-dialog";


body{
    font-family: $fontFamily;
}
.text-center{
    text-align: center;
}
.mb{
    margin-bottom: 20px;
}
.toggler{
    padding: 10px 20px;
    border: none;
    background-color: purple;
    color: white;
}
.myCard{
    max-width: 450px;
}
.cardHeading{
    padding: 10px;
    font-size: 16px;
}
